# Postgres
POSTGRES_USER=your_value
POSTGRES_PASSWORD=your_value
POSTGRES_DB=your_value

# api-gateway
DATABASE_URL=postgresql://your_user:your_password@postgres:5432/your_db
REDIS_URL=redis://redis:6379
AI_SERVICE_URL=http://ai-service:8000

# frontend
NEXT_PUBLIC_API_URL=https://yourdomain.com
